My workflow 16340.json
{
  "name": "My workflow 16340",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "19cf95eb-b468-438d-a7c1-e0c3dda52ba3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "476ce78a-3394-481a-9a2c-c2b94538c73c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "4aab342e-4ab6-47be-bee8-0534e2c6f192",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer handling multiple categories. Use only the provided items. Do not invent content.  Organize by category and provide up to 3 AI news and up to 3 broader technology news.  Format exactly like this:  Hi there, Here's your Tech Brief:  AI NEWS ======= For each AI-related item, output: HEADLINE IN ALL CAPS Summary in 1–2 sentences. Link: <paste link>  TECHNOLOGY UPDATES ================== For each broader technology-related item, output: HEADLINE IN ALL CAPS Summary in 1–2 sentences. Link: <paste link>  Keep it professional, concise, and easy to read."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        96
      ],
      "id": "221ca3aa-0442-440d-bfc9-91956134533a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        968,
        320
      ],
      "id": "98bbe5fb-00a7-478d-92ec-c19b91d0ccca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hdnrb8gjgAUyH6Ur",
          "name": "Google Gemini(PaLM) Api account 9043"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shaik.abbas.nxtwave.co.in@gmail.com",
        "subject": "Today's AI News for you...",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        96
      ],
      "id": "8a954301-f41f-4a8e-98cc-722fb10a7bfa",
      "name": "Send a message",
      "webhookId": "b761a7db-8933-459e-9b3a-cac919809971",
      "credentials": {
        "gmailOAuth2": {
          "id": "w8Ivs6GqJc2yREks",
          "name": "Gmail account 966"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "efe9264b-926a-4c85-b1ac-43a5ceba64f8",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ],
      "id": "fbc6b486-8aa2-4fd4-8ab7-5e6cbfd021e3",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bfec0ada-b6e0-461d-94a5-8c3989d4c614",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "horI33e5JJcuNF3q",
  "tags": []
}